### Directions
    - The data required for this task has been provided in the file 'data.csv'
    - Read the questions provided for each cell and assign your answers to respective variables provided in the following cell.
    - If answers are floating point numbers round of updo two floating point after the decimal
      - for example 10.546 should be read as 10.55, 10.544 as 10.54 and 10.1 as 10.10
    - pandas and numpy packages are preinstalled for this task which should be sufficient to complete this task.
    - If you need any other additional package run !pip3 install <package_name> --user in a new cell.
    - You can either try out the solution in the same notebook or free to create additional notebook, but make sure you come back to this notebook to answer the questions.
    - Please dont change variable name meant to assign your answers.
    - You can create a new notebook to write your scripts for EDA and use this notebook to assign the answers.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df.head()

,Day,Average temperature (°F),Average humidity (%),Average dewpoint (°F),Average barometer (in),Average windspeed (mph),Average gustspeed (mph),Average direction (°deg),Rainfall for month (in),Rainfall for year (in),Maximum rain per minute,Maximum temperature (°F),Minimum temperature (°F),Maximum humidity (%),Minimum humidity (%),Maximum pressure,Minimum pressure,Maximum windspeed (mph),Maximum gust speed (mph),Maximum heat index (°F)
0,1/01/2009,37.8,35,12.7,29.7,26.4,36.8,274,0.0,0.0,0.0,40.1,34.5,44,27,29.762,29.596,41.4,59.0,40.1
1,2/01/2009,43.2,32,14.7,29.5,12.8,18.0,240,0.0,0.0,0.0,52.8,37.5,43,16,29.669,29.268,35.7,51.0,52.8
2,3/01/2009,25.7,60,12.7,29.7,8.3,12.2,290,0.0,0.0,0.0,41.2,6.7,89,35,30.232,29.260,25.3,38.0,41.2
3,4/01/2009,9.3,67,0.1,30.4,2.9,4.5,47,0.0,0.0,0.0,19.4,-0.0,79,35,30.566,30.227,12.7,20.0,32.0
4,5/01/2009,23.5,30,-5.3,29.9,16.7,23.1,265,0.0,0.0,0.0,30.3,15.1,56,13,30.233,29.568,38.0,53.0,32.0

### What is the standard deviation of maximum windspeed across all the days

In [12]:
max_windspeed = df['Maximum windspeed (mph)']
df.std().round(2)
#max_windspeed.std()

Average temperature (°F)     15.19
Average humidity (%)         17.50
Average dewpoint (°F)        14.65
Average barometer (in)        0.25
Average windspeed (mph)       4.09
Average gustspeed (mph)      15.23
Average direction (°deg)    101.06
Rainfall for month (in)       0.63
Rainfall for year (in)        4.70
Maximum rain per minute       0.01
Maximum temperature (°F)     17.61
Minimum temperature (°F)     14.03
Maximum humidity (%)         18.14
Minimum humidity (%)         15.41
Maximum pressure              0.26
Minimum pressure              0.48
Maximum windspeed (mph)      13.06
Maximum gust speed (mph)     41.85
Maximum heat index (°F)      17.84
dtype: float64

### What is the difference between 50th percentile and 75th percentile of average temperature

In [13]:
df.head()

,Day,Average temperature (°F),Average humidity (%),Average dewpoint (°F),Average barometer (in),Average windspeed (mph),Average gustspeed (mph),Average direction (°deg),Rainfall for month (in),Rainfall for year (in),Maximum rain per minute,Maximum temperature (°F),Minimum temperature (°F),Maximum humidity (%),Minimum humidity (%),Maximum pressure,Minimum pressure,Maximum windspeed (mph),Maximum gust speed (mph),Maximum heat index (°F)
0,1/01/2009,37.8,35,12.7,29.7,26.4,36.8,274,0.0,0.0,0.0,40.1,34.5,44,27,29.762,29.596,41.4,59.0,40.1
1,2/01/2009,43.2,32,14.7,29.5,12.8,18.0,240,0.0,0.0,0.0,52.8,37.5,43,16,29.669,29.268,35.7,51.0,52.8
2,3/01/2009,25.7,60,12.7,29.7,8.3,12.2,290,0.0,0.0,0.0,41.2,6.7,89,35,30.232,29.260,25.3,38.0,41.2
3,4/01/2009,9.3,67,0.1,30.4,2.9,4.5,47,0.0,0.0,0.0,19.4,-0.0,79,35,30.566,30.227,12.7,20.0,32.0
4,5/01/2009,23.5,30,-5.3,29.9,16.7,23.1,265,0.0,0.0,0.0,30.3,15.1,56,13,30.233,29.568,38.0,53.0,32.0

In [16]:
avg_temperature = df['Average temperature (°F)']
avg_temperature.head()

0    37.8
1    43.2
2    25.7
3     9.3
4    23.5
Name: Average temperature (°F), dtype: float64

In [17]:
avg_temperature.quantile(0.5)

45.9

In [18]:
avg_temperature.quantile(0.75)

58.1

In [19]:
round(avg_temperature.quantile(0.75) - avg_temperature.quantile(0.5), 2)

12.2

### What is the pearson correlation between average dew point and average temperature

In [20]:
df.head()

,Day,Average temperature (°F),Average humidity (%),Average dewpoint (°F),Average barometer (in),Average windspeed (mph),Average gustspeed (mph),Average direction (°deg),Rainfall for month (in),Rainfall for year (in),Maximum rain per minute,Maximum temperature (°F),Minimum temperature (°F),Maximum humidity (%),Minimum humidity (%),Maximum pressure,Minimum pressure,Maximum windspeed (mph),Maximum gust speed (mph),Maximum heat index (°F)
0,1/01/2009,37.8,35,12.7,29.7,26.4,36.8,274,0.0,0.0,0.0,40.1,34.5,44,27,29.762,29.596,41.4,59.0,40.1
1,2/01/2009,43.2,32,14.7,29.5,12.8,18.0,240,0.0,0.0,0.0,52.8,37.5,43,16,29.669,29.268,35.7,51.0,52.8
2,3/01/2009,25.7,60,12.7,29.7,8.3,12.2,290,0.0,0.0,0.0,41.2,6.7,89,35,30.232,29.260,25.3,38.0,41.2
3,4/01/2009,9.3,67,0.1,30.4,2.9,4.5,47,0.0,0.0,0.0,19.4,-0.0,79,35,30.566,30.227,12.7,20.0,32.0
4,5/01/2009,23.5,30,-5.3,29.9,16.7,23.1,265,0.0,0.0,0.0,30.3,15.1,56,13,30.233,29.568,38.0,53.0,32.0

In [21]:
test = df[['Average dewpoint (°F)', 'Average temperature (°F)']]
test.head()

   Average dewpoint (°F)  Average temperature (°F)
0                   12.7                      37.8
1                   14.7                      43.2
2                   12.7                      25.7
3                    0.1                       9.3
4                   -5.3                      23.5

In [23]:
test.corr(method ='pearson').round(2)

                          Average dewpoint (°F)  Average temperature (°F)
Average dewpoint (°F)                      1.00                      0.76
Average temperature (°F)                   0.76                      1.00

### Out of all the available records which month has the lowest average humidity.
    - Assign your answer as month index, for example if its July index is 7

In [24]:
df.head()

,Day,Average temperature (°F),Average humidity (%),Average dewpoint (°F),Average barometer (in),Average windspeed (mph),Average gustspeed (mph),Average direction (°deg),Rainfall for month (in),Rainfall for year (in),Maximum rain per minute,Maximum temperature (°F),Minimum temperature (°F),Maximum humidity (%),Minimum humidity (%),Maximum pressure,Minimum pressure,Maximum windspeed (mph),Maximum gust speed (mph),Maximum heat index (°F)
0,1/01/2009,37.8,35,12.7,29.7,26.4,36.8,274,0.0,0.0,0.0,40.1,34.5,44,27,29.762,29.596,41.4,59.0,40.1
1,2/01/2009,43.2,32,14.7,29.5,12.8,18.0,240,0.0,0.0,0.0,52.8,37.5,43,16,29.669,29.268,35.7,51.0,52.8
2,3/01/2009,25.7,60,12.7,29.7,8.3,12.2,290,0.0,0.0,0.0,41.2,6.7,89,35,30.232,29.260,25.3,38.0,41.2
3,4/01/2009,9.3,67,0.1,30.4,2.9,4.5,47,0.0,0.0,0.0,19.4,-0.0,79,35,30.566,30.227,12.7,20.0,32.0
4,5/01/2009,23.5,30,-5.3,29.9,16.7,23.1,265,0.0,0.0,0.0,30.3,15.1,56,13,30.233,29.568,38.0,53.0,32.0

In [25]:
test = df[['Day', 'Average humidity (%)']]
test.head()

         Day  Average humidity (%)
0  1/01/2009                    35
1  2/01/2009                    32
2  3/01/2009                    60
3  4/01/2009                    67
4  5/01/2009                    30

In [34]:
test_avg_hum = df['Average humidity (%)']
test_avg_hum.head()

0    35
1    32
2    60
3    67
4    30
Name: Average humidity (%), dtype: int64

In [35]:
min(test_avg_hum)

9

In [37]:
test_avg_hum[test_avg_hum == 9]

1300    9
1301    9
1619    9
Name: Average humidity (%), dtype: int64

In [41]:
test.iloc[[1300, 1301, 1619]]

             Day  Average humidity (%)
1300  22/01/2013                     9
1301  23/01/2013                     9
1619  21/01/2014                     9

### Which month has the highest median for maximum_gust_speed out of all the available records. Also find the repective value
    - hint: group by month

In [42]:
df.head()

,Day,Average temperature (°F),Average humidity (%),Average dewpoint (°F),Average barometer (in),Average windspeed (mph),Average gustspeed (mph),Average direction (°deg),Rainfall for month (in),Rainfall for year (in),Maximum rain per minute,Maximum temperature (°F),Minimum temperature (°F),Maximum humidity (%),Minimum humidity (%),Maximum pressure,Minimum pressure,Maximum windspeed (mph),Maximum gust speed (mph),Maximum heat index (°F)
0,1/01/2009,37.8,35,12.7,29.7,26.4,36.8,274,0.0,0.0,0.0,40.1,34.5,44,27,29.762,29.596,41.4,59.0,40.1
1,2/01/2009,43.2,32,14.7,29.5,12.8,18.0,240,0.0,0.0,0.0,52.8,37.5,43,16,29.669,29.268,35.7,51.0,52.8
2,3/01/2009,25.7,60,12.7,29.7,8.3,12.2,290,0.0,0.0,0.0,41.2,6.7,89,35,30.232,29.260,25.3,38.0,41.2
3,4/01/2009,9.3,67,0.1,30.4,2.9,4.5,47,0.0,0.0,0.0,19.4,-0.0,79,35,30.566,30.227,12.7,20.0,32.0
4,5/01/2009,23.5,30,-5.3,29.9,16.7,23.1,265,0.0,0.0,0.0,30.3,15.1,56,13,30.233,29.568,38.0,53.0,32.0

In [56]:
test = df[['Day', 'Maximum gust speed (mph)']]
test.head()

         Day  Maximum gust speed (mph)
0  1/01/2009                      59.0
1  2/01/2009                      51.0
2  3/01/2009                      38.0
3  4/01/2009                      20.0
4  5/01/2009                      53.0

In [59]:
test_1 = test['Day']
test_1.head()

0    1/01/2009
1    2/01/2009
2    3/01/2009
3    4/01/2009
4    5/01/2009
Name: Day, dtype: object

In [67]:
test["month"] = [item[-7:-5] for item in test['Day']]
test.head()

/home/user/.local/lib/python3.5/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

         Day  Maximum gust speed (mph) month
0  1/01/2009                      59.0    01
1  2/01/2009                      51.0    01
2  3/01/2009                      38.0    01
3  4/01/2009                      20.0    01
4  5/01/2009                      53.0    01

In [73]:
test_groups = test.groupby(test['month'])
test_groups.median()

       Maximum gust speed (mph)
month
01                         32.2
02                         34.5
03                         31.1
04                         27.6
05                         26.0
06                         26.5
07                         24.2
08                         24.2
09                         24.2
10                         26.5
11                         32.2
12                         33.4

### Determine the average temperature between the months of March 2010 to May 2012 (including both the months)

In [74]:
df.head()

,Day,Average temperature (°F),Average humidity (%),Average dewpoint (°F),Average barometer (in),Average windspeed (mph),Average gustspeed (mph),Average direction (°deg),Rainfall for month (in),Rainfall for year (in),Maximum rain per minute,Maximum temperature (°F),Minimum temperature (°F),Maximum humidity (%),Minimum humidity (%),Maximum pressure,Minimum pressure,Maximum windspeed (mph),Maximum gust speed (mph),Maximum heat index (°F)
0,1/01/2009,37.8,35,12.7,29.7,26.4,36.8,274,0.0,0.0,0.0,40.1,34.5,44,27,29.762,29.596,41.4,59.0,40.1
1,2/01/2009,43.2,32,14.7,29.5,12.8,18.0,240,0.0,0.0,0.0,52.8,37.5,43,16,29.669,29.268,35.7,51.0,52.8
2,3/01/2009,25.7,60,12.7,29.7,8.3,12.2,290,0.0,0.0,0.0,41.2,6.7,89,35,30.232,29.260,25.3,38.0,41.2
3,4/01/2009,9.3,67,0.1,30.4,2.9,4.5,47,0.0,0.0,0.0,19.4,-0.0,79,35,30.566,30.227,12.7,20.0,32.0
4,5/01/2009,23.5,30,-5.3,29.9,16.7,23.1,265,0.0,0.0,0.0,30.3,15.1,56,13,30.233,29.568,38.0,53.0,32.0

In [75]:
df[df['Day'] == '1/03/2010']

,Day,Average temperature (°F),Average humidity (%),Average dewpoint (°F),Average barometer (in),Average windspeed (mph),Average gustspeed (mph),Average direction (°deg),Rainfall for month (in),Rainfall for year (in),Maximum rain per minute,Maximum temperature (°F),Minimum temperature (°F),Maximum humidity (%),Minimum humidity (%),Maximum pressure,Minimum pressure,Maximum windspeed (mph),Maximum gust speed (mph),Maximum heat index (°F)
390,1/03/2010,26.1,74,18.4,30.2,2.2,3.4,53,0.02,0.59,0.01,39.1,14.3,90,40,30.375,30.086,15.0,22.0,39.1

In [76]:
df[df['Day'] == '31/05/2012']

,Day,Average temperature (°F),Average humidity (%),Average dewpoint (°F),Average barometer (in),Average windspeed (mph),Average gustspeed (mph),Average direction (°deg),Rainfall for month (in),Rainfall for year (in),Maximum rain per minute,Maximum temperature (°F),Minimum temperature (°F),Maximum humidity (%),Minimum humidity (%),Maximum pressure,Minimum pressure,Maximum windspeed (mph),Maximum gust speed (mph),Maximum heat index (°F)
1064,31/05/2012,51.3,55,34.6,29.9,3.0,4.9,59,1.22,2.14,0.0,64.2,34.9,83,33,29.946,29.807,13.8,19.6,64.2

In [80]:
test = df[390:1065]
test.head()

,Day,Average temperature (°F),Average humidity (%),Average dewpoint (°F),Average barometer (in),Average windspeed (mph),Average gustspeed (mph),Average direction (°deg),Rainfall for month (in),Rainfall for year (in),Maximum rain per minute,Maximum temperature (°F),Minimum temperature (°F),Maximum humidity (%),Minimum humidity (%),Maximum pressure,Minimum pressure,Maximum windspeed (mph),Maximum gust speed (mph),Maximum heat index (°F)
390,1/03/2010,26.1,74,18.4,30.2,2.2,3.4,53,0.02,0.59,0.01,39.1,14.3,90,40,30.375,30.086,15.0,22.0,39.1
391,2/03/2010,27.8,58,12.9,30.2,1.4,2.4,91,0.02,0.59,0.00,48.8,10.5,86,21,30.387,30.012,10.4,14.0,48.8
392,3/03/2010,31.4,56,15.5,30.0,4.5,6.4,315,0.02,0.59,0.00,48.3,15.4,84,23,30.180,29.942,18.4,26.0,48.3
393,4/03/2010,29.9,63,17.9,30.0,1.6,2.9,191,0.02,0.59,0.00,44.6,16.4,83,32,30.138,29.787,6.9,255.0,44.6
394,5/03/2010,29.9,59,16.3,29.9,10.1,14.2,316,0.02,0.59,0.00,36.9,20.0,85,34,29.949,29.693,24.2,36.0,36.9

In [83]:
test['Average temperature (°F)'].mean().round(2)

45.33

### Find the range of averange temperature  on Dec 2010

In [84]:
df.head()

,Day,Average temperature (°F),Average humidity (%),Average dewpoint (°F),Average barometer (in),Average windspeed (mph),Average gustspeed (mph),Average direction (°deg),Rainfall for month (in),Rainfall for year (in),Maximum rain per minute,Maximum temperature (°F),Minimum temperature (°F),Maximum humidity (%),Minimum humidity (%),Maximum pressure,Minimum pressure,Maximum windspeed (mph),Maximum gust speed (mph),Maximum heat index (°F)
0,1/01/2009,37.8,35,12.7,29.7,26.4,36.8,274,0.0,0.0,0.0,40.1,34.5,44,27,29.762,29.596,41.4,59.0,40.1
1,2/01/2009,43.2,32,14.7,29.5,12.8,18.0,240,0.0,0.0,0.0,52.8,37.5,43,16,29.669,29.268,35.7,51.0,52.8
2,3/01/2009,25.7,60,12.7,29.7,8.3,12.2,290,0.0,0.0,0.0,41.2,6.7,89,35,30.232,29.260,25.3,38.0,41.2
3,4/01/2009,9.3,67,0.1,30.4,2.9,4.5,47,0.0,0.0,0.0,19.4,-0.0,79,35,30.566,30.227,12.7,20.0,32.0
4,5/01/2009,23.5,30,-5.3,29.9,16.7,23.1,265,0.0,0.0,0.0,30.3,15.1,56,13,30.233,29.568,38.0,53.0,32.0

In [98]:
df[df['Day'] == '31/12/2010']

,Day,Average temperature (°F),Average humidity (%),Average dewpoint (°F),Average barometer (in),Average windspeed (mph),Average gustspeed (mph),Average direction (°deg),Rainfall for month (in),Rainfall for year (in),Maximum rain per minute,Maximum temperature (°F),Minimum temperature (°F),Maximum humidity (%),Minimum humidity (%),Maximum pressure,Minimum pressure,Maximum windspeed (mph),Maximum gust speed (mph),Maximum heat index (°F)
691,31/12/2010,1.5,53,-12.5,30.0,9.9,14.3,319,0.58,13.27,0.0,5.4,-1.4,76,34,30.167,29.735,27.6,40.3,5.4

In [101]:
test = df[662:692]
test

,Day,Average temperature (°F),Average humidity (%),Average dewpoint (°F),Average barometer (in),Average windspeed (mph),Average gustspeed (mph),Average direction (°deg),Rainfall for month (in),Rainfall for year (in),Maximum rain per minute,Maximum temperature (°F),Minimum temperature (°F),Maximum humidity (%),Minimum humidity (%),Maximum pressure,Minimum pressure,Maximum windspeed (mph),Maximum gust speed (mph),Maximum heat index (°F)
662,2/12/2010,42.2,39,18.2,30.0,12.6,19.0,310,0.00,12.69,0.00,48.8,36.4,58,28,30.126,29.826,31.1,43.7,48.8
663,3/12/2010,44.8,31,15.9,29.8,13.8,17.1,301,0.00,12.69,0.00,46.2,42.3,41,28,29.851,29.802,31.1,44.9,46.2
664,4/12/2010,31.3,62,18.0,30.2,6.0,7.9,320,0.00,12.69,0.00,46.0,21.8,89,28,30.430,29.828,16.1,20.7,46.0
665,5/12/2010,28.8,67,18.9,30.4,2.7,4.1,68,0.00,12.69,0.00,43.1,18.8,86,45,30.487,30.267,11.5,13.8,43.1
666,6/12/2010,34.3,62,21.4,30.3,4.6,7.0,318,0.00,12.69,0.00,48.1,18.1,87,27,30.465,30.008,17.3,26.5,48.1
667,7/12/2010,34.3,40,12.0,30.2,7.8,11.9,322,0.00,12.69,0.00,46.2,23.0,60,23,30.382,29.951,25.3,34.5,46.2
668,8/12/2010,40.4,26,7.4,30.1,10.6,15.5,308,0.00,12.69,0.00,49.2,23.9,41,15,30.282,29.817,26.5,36.8,49.2
669,9/12/2010,39.6,37,14.9,29.9,15.3,22.5,315,0.00,12.69,0.00,44.0,29.5,57,25,29.998,29.766,34.5,49.5,44.0
670,10/12/2010,35.9,47,17.5,29.8,10.4,16.0,321,0.00,12.69,0.00,43.4,28.1,85,32,29.998,29.645,25.3,38.0,43.4
671,11/12/2010,25.2,41,4.6,30.2,7.2,11.4,329,0.00,12.69,0.00,29.0,17.0,57,31,30.425,29.947,16.1,26.5,29.0
672,12/12/2010,34.8,50,17.4,30.2,10.4,15.5,320,0.00,12.69,0.00,46.7,16.7,66,31,30.425,29.856,28.8,46.0,46.7
673,13/12/2010,45.8,27,13.6,29.9,19.5,28.5,315,0.00,12.69,0.00,53.2,42.6,42,16,29.975,29.770,35.7,57.5,53.2
674,14/12/2010,46.3,26,12.3,29.6,18.5,32.6,314,0.00,12.69,0.00,52.2,42.1,41,18,29.793,29.220,169.1,255.3,52.2
675,15/12/2010,34.1,55,18.5,29.6,10.2,14.7,313,0.01,12.70,0.01,44.3,22.9,88,27,29.942,29.362,27.6,42.6,44.3
676,16/12/2010,20.2,62,8.5,30.1,3.7,6.1,88,0.01,12.70,0.00,29.1,10.5,84,33,30.317,29.936,19.6,29.9,29.1
677,17/12/2010,15.7,73,8.5,30.2,1.7,3.1,111,0.01,12.70,0.00,24.1,10.0,83,53,30.329,30.131,8.1,11.5,24.1
678,18/12/2010,29.7,61,17.5,29.9,6.1,8.9,326,0.01,12.70,0.00,38.9,11.1,83,40,30.166,29.685,19.6,25.3,38.9
679,19/12/2010,36.5,71,27.8,29.6,4.5,6.5,311,0.13,12.82,0.01,41.8,32.3,93,52,29.720,29.418,16.1,21.9,41.8
680,20/12/2010,33.9,83,29.2,29.6,3.0,4.9,88,0.42,13.11,0.01,37.5,28.1,92,54,29.879,29.388,10.4,13.8,37.5
681,21/12/2010,25.0,79,19.3,30.1,2.3,3.6,86,0.49,13.18,0.01,28.7,22.3,87,54,30.318,29.846,8.1,11.5,28.7
682,22/12/2010,25.1,84,20.8,30.3,1.3,1.8,37,0.57,13.26,0.02,39.2,17.7,90,68,30.406,30.072,11.5,16.1,39.2
683,23/12/2010,32.9,71,24.0,30.0,3.1,7.4,341,0.57,13.26,0.00,46.0,19.2,92,44,30.191,29.850,170.2,255.3,46.0
684,24/12/2010,24.4,80,18.7,30.4,1.2,2.1,52,0.58,13.27,0.01,38.2,14.1,89,57,30.598,30.185,6.9,10.4,38.2
685,25/12/2010,24.1,63,10.7,30.5,0.6,1.4,78,0.58,13.27,0.00,51.4,8.4,86,17,30.719,30.255,5.8,10.4,51.4
686,26/12/2010,35.4,40,11.2,30.0,8.1,17.9,325,0.58,13.27,0.00,51.7,16.5,77,15,30.255,29.712,120.8,255.3,51.7
687,27/12/2010,31.4,34,5.9,30.0,14.3,21.2,327,0.58,13.27,0.00,36.9,27.6,50,24,30.177,29.752,27.6,41.4,36.9
688,28/12/2010,31.7,28,1.1,29.9,9.5,13.6,319,0.58,13.27,0.00,41.5,18.0,51,17,30.149,29.592,24.2,32.2,41.5
689,29/12/2010,35.5,37,10.5,29.2,16.1,25.4,315,0.58,13.27,0.00,39.3,32.8,50,15,29.592,29.036,170.2,255.3,39.3
690,30/12/2010,17.5,71,9.3,29.4,3.7,5.7,102,0.58,13.27,0.00,33.4,-1.2,85,44,29.748,29.126,12.7,18.4,33.4
691,31/12/2010,1.5,53,-12.5,30.0,9.9,14.3,319,0.58,13.27,0.00,5.4,-1.4,76,34,30.167,29.735,27.6,40.3,5.4

In [104]:
test['Average temperature (°F)'].max()

46.3

In [105]:
test['Average temperature (°F)'].min()

1.5

In [106]:
test['Average temperature (°F)'].max() - test['Average temperature (°F)'].min()

44.8

### Out of all available records which day has the highest difference between maximum_pressure and minimum_pressure
    - assign the date in string format as 'yyyy-mm-dd'. Make sure you enclose it with single quote

In [107]:
df.head()

,Day,Average temperature (°F),Average humidity (%),Average dewpoint (°F),Average barometer (in),Average windspeed (mph),Average gustspeed (mph),Average direction (°deg),Rainfall for month (in),Rainfall for year (in),Maximum rain per minute,Maximum temperature (°F),Minimum temperature (°F),Maximum humidity (%),Minimum humidity (%),Maximum pressure,Minimum pressure,Maximum windspeed (mph),Maximum gust speed (mph),Maximum heat index (°F)
0,1/01/2009,37.8,35,12.7,29.7,26.4,36.8,274,0.0,0.0,0.0,40.1,34.5,44,27,29.762,29.596,41.4,59.0,40.1
1,2/01/2009,43.2,32,14.7,29.5,12.8,18.0,240,0.0,0.0,0.0,52.8,37.5,43,16,29.669,29.268,35.7,51.0,52.8
2,3/01/2009,25.7,60,12.7,29.7,8.3,12.2,290,0.0,0.0,0.0,41.2,6.7,89,35,30.232,29.260,25.3,38.0,41.2
3,4/01/2009,9.3,67,0.1,30.4,2.9,4.5,47,0.0,0.0,0.0,19.4,-0.0,79,35,30.566,30.227,12.7,20.0,32.0
4,5/01/2009,23.5,30,-5.3,29.9,16.7,23.1,265,0.0,0.0,0.0,30.3,15.1,56,13,30.233,29.568,38.0,53.0,32.0

In [112]:
df.columns

Index(['Day', 'Average temperature (°F)', 'Average humidity (%)',
       'Average dewpoint (°F)', 'Average barometer (in)',
       'Average windspeed (mph)', 'Average gustspeed (mph)',
       'Average direction (°deg)', 'Rainfall for month (in)',
       'Rainfall for year (in)', 'Maximum rain per minute ',
       'Maximum temperature (°F)', 'Minimum temperature (°F)',
       'Maximum humidity (%)', 'Minimum humidity (%)', 'Maximum pressure ',
       'Minimum pressure ', 'Maximum windspeed (mph)',
       'Maximum gust speed (mph)', 'Maximum heat index (°F)'],
      dtype='object')

In [114]:
test = df[['Day', 'Maximum pressure ', 'Minimum pressure ']]
test.head()

         Day  Maximum pressure   Minimum pressure
0  1/01/2009             29.762             29.596
1  2/01/2009             29.669             29.268
2  3/01/2009             30.232             29.260
3  4/01/2009             30.566             30.227
4  5/01/2009             30.233             29.568

In [115]:
test['pressure_range'] = test['Maximum pressure '] - test['Minimum pressure ']
test.head()

/home/user/.local/lib/python3.5/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

         Day  Maximum pressure   Minimum pressure   pressure_range
0  1/01/2009             29.762             29.596           0.166
1  2/01/2009             29.669             29.268           0.401
2  3/01/2009             30.232             29.260           0.972
3  4/01/2009             30.566             30.227           0.339
4  5/01/2009             30.233             29.568           0.665

In [117]:
test['pressure_range'].max()

16.602000000000004

In [118]:
test[test['pressure_range'] == test['pressure_range'].max()]

             Day  Maximum pressure   Minimum pressure   pressure_range
3067  23/03/2018             29.868             13.266          16.602

### How many days falls under median (i.e equal to median value) of barrometer reading.

In [119]:
df.head()

,Day,Average temperature (°F),Average humidity (%),Average dewpoint (°F),Average barometer (in),Average windspeed (mph),Average gustspeed (mph),Average direction (°deg),Rainfall for month (in),Rainfall for year (in),Maximum rain per minute,Maximum temperature (°F),Minimum temperature (°F),Maximum humidity (%),Minimum humidity (%),Maximum pressure,Minimum pressure,Maximum windspeed (mph),Maximum gust speed (mph),Maximum heat index (°F)
0,1/01/2009,37.8,35,12.7,29.7,26.4,36.8,274,0.0,0.0,0.0,40.1,34.5,44,27,29.762,29.596,41.4,59.0,40.1
1,2/01/2009,43.2,32,14.7,29.5,12.8,18.0,240,0.0,0.0,0.0,52.8,37.5,43,16,29.669,29.268,35.7,51.0,52.8
2,3/01/2009,25.7,60,12.7,29.7,8.3,12.2,290,0.0,0.0,0.0,41.2,6.7,89,35,30.232,29.260,25.3,38.0,41.2
3,4/01/2009,9.3,67,0.1,30.4,2.9,4.5,47,0.0,0.0,0.0,19.4,-0.0,79,35,30.566,30.227,12.7,20.0,32.0
4,5/01/2009,23.5,30,-5.3,29.9,16.7,23.1,265,0.0,0.0,0.0,30.3,15.1,56,13,30.233,29.568,38.0,53.0,32.0

In [121]:
test = df[['Day', 'Average barometer (in)']]
test.head()

         Day  Average barometer (in)
0  1/01/2009                    29.7
1  2/01/2009                    29.5
2  3/01/2009                    29.7
3  4/01/2009                    30.4
4  5/01/2009                    29.9

In [123]:
test['Average barometer (in)'].median()

29.9

In [126]:
test = test[test['Average barometer (in)'] == test['Average barometer (in)'].median()]
test

             Day  Average barometer (in)
4      5/01/2009                    29.9
21    22/01/2009                    29.9
24    25/01/2009                    29.9
30    31/01/2009                    29.9
36     6/02/2009                    29.9
38     8/02/2009                    29.9
53    23/02/2009                    29.9
60     2/03/2009                    29.9
64     6/03/2009                    29.9
79    24/03/2009                    29.9
83    28/03/2009                    29.9
88     2/04/2009                    29.9
98    12/04/2009                    29.9
99    13/04/2009                    29.9
102   16/04/2009                    29.9
108   22/04/2009                    29.9
114   28/04/2009                    29.9
116   30/04/2009                    29.9
118    2/05/2009                    29.9
119    3/05/2009                    29.9
127   11/05/2009                    29.9
137   21/05/2009                    29.9
138   22/05/2009                    29.9
142   26/05/2009                    29.9
146   30/05/2009                    29.9
151    4/06/2009                    29.9
159   12/06/2009                    29.9
163   16/06/2009                    29.9
171   24/06/2009                    29.9
174   27/06/2009                    29.9
...          ...                     ...
3015   7/01/2018                    29.9
3026  18/01/2018                    29.9
3040   2/02/2018                    29.9
3053  15/02/2018                    29.9
3055  17/02/2018                    29.9
3065  27/02/2018                    29.9
3066  28/02/2018                    29.9
3081   6/04/2018                    29.9
3098  23/04/2018                    29.9
3108   3/05/2018                    29.9
3112   7/05/2018                    29.9
3120  15/05/2018                    29.9
3124  19/05/2018                    29.9
3138   2/06/2018                    29.9
3139   3/06/2018                    29.9
3179  13/07/2018                    29.9
3182  16/07/2018                    29.9
3187  26/07/2018                    29.9
3190  29/07/2018                    29.9
3192  31/07/2018                    29.9
3201   9/08/2018                    29.9
3202  10/08/2018                    29.9
3211  19/08/2018                    29.9
3213  21/08/2018                    29.9
3214  22/08/2018                    29.9
3243  22/09/2018                    29.9
3246  25/09/2018                    29.9
3249  28/09/2018                    29.9
3260   9/10/2018                    29.9
3279  28/10/2018                    29.9

[534 rows x 2 columns]

### Out of all the available records how many days are within one standard deviation of average temperaturem

In [127]:
df.head()

,Day,Average temperature (°F),Average humidity (%),Average dewpoint (°F),Average barometer (in),Average windspeed (mph),Average gustspeed (mph),Average direction (°deg),Rainfall for month (in),Rainfall for year (in),Maximum rain per minute,Maximum temperature (°F),Minimum temperature (°F),Maximum humidity (%),Minimum humidity (%),Maximum pressure,Minimum pressure,Maximum windspeed (mph),Maximum gust speed (mph),Maximum heat index (°F)
0,1/01/2009,37.8,35,12.7,29.7,26.4,36.8,274,0.0,0.0,0.0,40.1,34.5,44,27,29.762,29.596,41.4,59.0,40.1
1,2/01/2009,43.2,32,14.7,29.5,12.8,18.0,240,0.0,0.0,0.0,52.8,37.5,43,16,29.669,29.268,35.7,51.0,52.8
2,3/01/2009,25.7,60,12.7,29.7,8.3,12.2,290,0.0,0.0,0.0,41.2,6.7,89,35,30.232,29.260,25.3,38.0,41.2
3,4/01/2009,9.3,67,0.1,30.4,2.9,4.5,47,0.0,0.0,0.0,19.4,-0.0,79,35,30.566,30.227,12.7,20.0,32.0
4,5/01/2009,23.5,30,-5.3,29.9,16.7,23.1,265,0.0,0.0,0.0,30.3,15.1,56,13,30.233,29.568,38.0,53.0,32.0

In [128]:
test = df[['Day', 'Average temperature (°F)']]
test.head()

         Day  Average temperature (°F)
0  1/01/2009                      37.8
1  2/01/2009                      43.2
2  3/01/2009                      25.7
3  4/01/2009                       9.3
4  5/01/2009                      23.5

In [130]:
test['Average temperature (°F)'].std()

15.188164868884014

In [131]:
test['Average temperature (°F)'].mean()

45.16289634146341

In [132]:
x = test['Average temperature (°F)'].mean() - test['Average temperature (°F)'].std()
y = test['Average temperature (°F)'].mean() + test['Average temperature (°F)'].std()
print(x)
print(y)

29.974731472579393
60.351061210347424

In [138]:
test1 = test[test['Average temperature (°F)'] >= x]
test1

             Day  Average temperature (°F)
0      1/01/2009                      37.8
1      2/01/2009                      43.2
6      7/01/2009                      34.2
7      8/01/2009                      42.1
8      9/01/2009                      30.3
10    11/01/2009                      30.1
12    13/01/2009                      32.4
13    14/01/2009                      33.1
14    15/01/2009                      35.7
15    16/01/2009                      41.6
16    17/01/2009                      40.9
17    18/01/2009                      43.4
18    19/01/2009                      46.6
19    20/01/2009                      40.0
20    21/01/2009                      48.2
21    22/01/2009                      44.8
23    24/01/2009                      35.4
29    30/01/2009                      36.0
30    31/01/2009                      38.3
31     1/02/2009                      30.8
32     2/02/2009                      33.0
33     3/02/2009                      38.6
34     4/02/2009                      43.3
35     5/02/2009                      45.6
36     6/02/2009                      33.4
37     7/02/2009                      34.2
38     8/02/2009                      31.5
39     9/02/2009                      31.2
46    16/02/2009                      38.9
47    17/02/2009                      32.5
...          ...                       ...
3247  26/09/2018                      48.1
3248  27/09/2018                      58.0
3249  28/09/2018                      39.4
3250  29/09/2018                      57.6
3251  30/09/2018                      53.7
3252   1/10/2018                      56.7
3253   2/10/2018                      60.4
3254   3/10/2018                      59.8
3255   4/10/2018                      48.6
3256   5/10/2018                      50.0
3257   6/10/2018                      38.7
3258   7/10/2018                      38.6
3259   8/10/2018                      32.6
3260   9/10/2018                      31.2
3262  11/10/2018                      33.3
3263  12/10/2018                      44.1
3264  13/10/2018                      46.3
3267  16/10/2018                      31.1
3268  17/10/2018                      34.7
3269  18/10/2018                      40.3
3270  19/10/2018                      44.9
3271  20/10/2018                      40.7
3272  21/10/2018                      48.9
3273  22/10/2018                      45.3
3274  23/10/2018                      43.8
3275  24/10/2018                      45.9
3276  25/10/2018                      46.7
3277  26/10/2018                      48.4
3278  27/10/2018                      53.3
3279  28/10/2018                      49.4

[2731 rows x 2 columns]

In [139]:
#2731
test2 = test1[test['Average temperature (°F)'] <= y]
test2

/home/user/.local/lib/python3.5/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

             Day  Average temperature (°F)
0      1/01/2009                      37.8
1      2/01/2009                      43.2
6      7/01/2009                      34.2
7      8/01/2009                      42.1
8      9/01/2009                      30.3
10    11/01/2009                      30.1
12    13/01/2009                      32.4
13    14/01/2009                      33.1
14    15/01/2009                      35.7
15    16/01/2009                      41.6
16    17/01/2009                      40.9
17    18/01/2009                      43.4
18    19/01/2009                      46.6
19    20/01/2009                      40.0
20    21/01/2009                      48.2
21    22/01/2009                      44.8
23    24/01/2009                      35.4
29    30/01/2009                      36.0
30    31/01/2009                      38.3
31     1/02/2009                      30.8
32     2/02/2009                      33.0
33     3/02/2009                      38.6
34     4/02/2009                      43.3
35     5/02/2009                      45.6
36     6/02/2009                      33.4
37     7/02/2009                      34.2
38     8/02/2009                      31.5
39     9/02/2009                      31.2
46    16/02/2009                      38.9
47    17/02/2009                      32.5
...          ...                       ...
3246  25/09/2018                      47.6
3247  26/09/2018                      48.1
3248  27/09/2018                      58.0
3249  28/09/2018                      39.4
3250  29/09/2018                      57.6
3251  30/09/2018                      53.7
3252   1/10/2018                      56.7
3254   3/10/2018                      59.8
3255   4/10/2018                      48.6
3256   5/10/2018                      50.0
3257   6/10/2018                      38.7
3258   7/10/2018                      38.6
3259   8/10/2018                      32.6
3260   9/10/2018                      31.2
3262  11/10/2018                      33.3
3263  12/10/2018                      44.1
3264  13/10/2018                      46.3
3267  16/10/2018                      31.1
3268  17/10/2018                      34.7
3269  18/10/2018                      40.3
3270  19/10/2018                      44.9
3271  20/10/2018                      40.7
3272  21/10/2018                      48.9
3273  22/10/2018                      45.3
3274  23/10/2018                      43.8
3275  24/10/2018                      45.9
3276  25/10/2018                      46.7
3277  26/10/2018                      48.4
3278  27/10/2018                      53.3
3279  28/10/2018                      49.4

[2092 rows x 2 columns]